fastapi
uvicorn
pydantic
requests
git+https://github.com/browser-use/browser-use.git@5964bdeeed67ec3748f9e9acb90920d980a0c36c
retry
pydantic==2.9.2
pyperclip==1.9.0
gradio==5.10.0
json-repair
cryptography>=44.0.2
