# App & API configuration
REACT_APP_API_URL=http://localhost:8000
APP_URL=http://localhost:3000

# Database configuration
POSTGRES_DB=test
POSTGRES_USER=test
POSTGRES_PASSWORD=test

# PgAdmin configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# API security
JWT_SECRET_KEY=defaultsecret
SECRET_ENCRYPTION_KEY=defaultsecret

# Google OAuth (only needed if using Google auth)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Task Manager
TASK_MANAGER_URL=http://task-manager:8001

# Azure OpenAI configuration (required for task manager)
AZURE_OPENAI_KEY=
AZURE_OPENAI_ENDPOINT=

# For testing only with AWS SQS localy
AWS_SQS_LAMBDA_TRIGGER_ACCESS_KEY=
AWS_SQS_LAMBDA_TRIGGER_SECRET_ACCESS_KEY=
AWS_SQS_LAMBDA_URL=

# Demo account email
DEMO_ACCOUNT_EMAIL=demo@solight.ai