General:
* Do NEVER write any placeholder nor mock code unless explicitly asked
* If you're not sure about the query, ask the user for clarification
* Always maintain a README.md file in the root of the project with the architecture of the project
* When asked for your opinion, be critical, the user don't need approval, just the best solution
* Avoid leaving any trailing spaces in the code
* Do not run applications (docker compose up, python main.py, npm run dev) unless explicitly asked

In Python:
* Always type-hint variables and for all function signatures
* Each function should have a docstring following the Google style guide
* Avoid unnecessary else statements; use the if-return pattern instead
* When importing, first write the "import ..." and then the "from ..." separated by a newline
