fastapi
uvicorn
pydantic
celery
redis
requests
retry
git+https://github.com/browser-use/browser-use.git@main
retry
pydantic
# TEST
# browser-use==0.1.37
pyperclip==1.9.0
gradio==5.10.0
json-repair
langchain-mistralai==0.2.4

